@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*, ::before, ::after{
    box-sizing: border-box;
}

/*Body styles*/
body {
    padding: 0;
    margin: 0;
    background-color: #000000;
    color: white;
    font-family: 'Space Mono', monospace;
    font-size: 1.5rem;
    overflow-x:hidden; 
}

/*Index page(use if needed)*/
#homespace_img {
    margin-left: 200px;
    margin-right: 00;
}

.index_text_card {
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #283747;
    border-radius: 40px;
    padding: 20px;
}

/*Planets page*/
.planets_container {
    font-size: larger;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    background-color: #283747;
    border-radius: 40px;
    padding: 20px;
}

/*Nav styles*/
nav {
    display: flex;
    align-items: center;
}

#nav_butt_con {
    position: absolute;
    right: 10%;
}

.nav_butt {
    height: 60px;
    width: 170px;
    color: white;
    background-color: #000000;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    border-radius: 8px;
    margin: 10px;
    font-size: 2rem;
    font-family: 'Space Mono', monospace;
}

.index_butt {
    color: white;
    background-color: #000000;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    margin: 10px;
    font-size: 50px;
    font-family: 'Space Mono', monospace;
}

h1 {
    font-size:xx-large;
}

#current {
    border-color: white;
    border-radius: 10px;
    padding: 5px;
}

#logo_con{
    display: flex;
    color: white;
    text-decoration: none;
    position: relative; 
    margin-left: 20px;
}

/*Footer Style*/

footer {
    display: flex;
    margin: 40px;
}

#footer_div{
    margin-right: 0%;
}

#nasa_logo{
    margin-left: 600%;
}

/*Planets*/
.planets{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    margin-left: 300px 300px;
}

h2{
    margin-left: auto;
    margin-right: auto;
}

#learn_space_container {
    display: grid;
    grid-template-columns: auto auto ;
    margin-left: auto;
    margin-right: auto;
}

#sun {
    margin-left: 00px;
    margin-right: 000px;
}

#sun_im {
    margin-left: 100px;
    padding: 20px;
}

#mercury {
    margin-left: 0px;
    margin-right: 000px;
}

#mercury_im {
    margin-left: 200px;
    padding: 20px;
}

#venus_im {
    margin-left: 100px;
    padding: 20px;
}

#earth_im {
    margin-left: 350px;
    padding: 20px;
}

#mars_im {
    margin-left: 150px;
    padding: 20px;
}

#jupiter_im {
    margin-left: 100px;
    padding: 20px;
}

#saturn_im {
    margin-left: 100px;
    padding: 20px;
}

#uranus_im {
    margin-left: 350px;
    padding: 20px;
}

#neptune_im {
    margin-left: 100px;
    padding: 20px;
}

#pluto_im {
    margin-left: 300px;
    padding: 20px;
}

.planet_text_card {
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #283747;
    border-radius: 40px;
    padding: 20px;
}

.sun_text_card {
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #283747;
    border-radius: 40px;
    padding: 20px;
    width: 55%;
}

.mercury_text_card {
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #283747;
    border-radius: 40px;
    padding: 20px;
    width: 55%;
}

.venus_text_card {
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #283747;
    border-radius: 40px;
    padding: 20px;
    width: 55%;
}

.earth_text_card {
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #283747;
    border-radius: 40px;
    padding: 20px;
    width: 75%;
}

.mars_text_card {
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #283747;
    border-radius: 40px;
    padding: 20px;
    width: 75%;
}

.jupiter_text_card {
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #283747;
    border-radius: 40px;
    padding: 20px;
    width: 30%;
}

.saturn_text_card {
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #283747;
    border-radius: 40px;
    padding: 20px;
    width: 55%;
}

.uranus_text_card {
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #283747;
    border-radius: 40px;
    padding: 20px;
    width: 57%;
}

.neptune_text_card {
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #283747;
    border-radius: 40px;
    padding: 20px;
    width: 50%;
}

.pluto_text_card {
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #283747;
    border-radius: 40px;
    padding: 20px;
    width: 50%;
}

/*astroid*/
#ceres_im {
    margin-left: 550px;
}

#bap_im {
    margin-left: 00px;
}

/*shuttle*/
#spartnik_im {
    padding-bottom: 10px;
}

#xdragon_img {
    padding-bottom: 15px;
}

#iss_img {
    width: 400;
    height: 600;
}

.shuttle_container {
    width: 40%;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #283747  ;
    border-radius: 40px;
    padding: 20px;
}

.shuttle_text_card {
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #283747  ;
    border-radius: 40px;
    padding: 20px;
}

.shuttle_pad {
    margin-top: 50px;
    margin-bottom: 50px;
}


#hubble_img {
    height: 100px;
    width: 170px;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

#card_text {
    font-size: larger;
}


/*Sun Page*/
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
  
  /* Positioning the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip*/
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side */
  .flip-card-front {
    background-color: black;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #283747;
    color: white;
    transform: rotateY(180deg);
  }

  #center {
    margin: auto;
    border: 5px;
    padding: 10px;
  }

  #center_sc1_text {
    margin: auto;
    margin-top: 90px;
    margin-bottom: auto;
    border: 5px;
    padding: 10px;
  }

  #center_sc2_text {
    margin: auto;
    margin-top: 20px;
    margin-bottom: auto;
    border: 5px;
    padding: 10px;
  }

  #center_sc3_text {
    margin: auto;
    margin-top: 70px;
    margin-bottom: auto;
    border: 5px;
    padding: 10px;
  }

  #center_sc4_text {
    margin: auto;
    margin-top: 45px;
    margin-bottom: auto;
    border: 5px;
    padding: 10px;
  }

  #center_sc4_text {
    margin: auto;
    margin-top: 5px;
    margin-bottom: auto;
    border: 5px;
    padding: 10px;
  }

  #center_mc1_text {
    margin: auto;
    margin-top: 80px;
    margin-bottom: auto;
    border: 5px;
    padding: 10px;
  }

  #center_mc2_text {
    margin: auto;
    margin-top: 40px;
    margin-bottom: auto;
    border: 5px;
    padding: 10px;
  }

  #center_mc3_text {
    margin: auto;
    margin-top: 90px;
    margin-bottom: auto;
    border: 5px;
    padding: 10px;
  }

  /*Game*/

  #user_name {
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 40px;
    padding: 20px;
  }


  .end_container {
    font-size: larger;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 200px;
    text-align: center;
    background-color: #283747;
    border-radius: 40px;
    padding: 20px;
  }

    /*underline*/
    a:link { text-decoration: none; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: underline; }
    a:active { text-decoration: underline; }