@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*, ::before, ::after{
    box-sizing: border-box;
}

/*Body styles*/
body {
    padding: 0;
    margin: 0;
    background-color: #000000;
    color: white;
    font-family: 'Space Mono', monospace;
    font-size: 1.2rem;
}

/*Planets page*/
.planets-container {
    font-size: larger;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    background-color: #283747  ;
    border-radius: 40px;
    padding: 20px;
}

/*Nav styles*/
nav {
    display: flex;
    align-items: center;
}

#nav-button-container {
    position: absolute;
    right: 10%;
}

.nav-button {
    height: 60px;
    width: 150px;
    color: white;
    background-color: #000000;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    margin: 10px;
    font-size: 30px;
    font-family: 'Space Mono', monospace;

}

h1 {
    font-size:xx-large;
}

#current {
    border-color: white;
    border-radius: 10px;
    padding: 5px;
}

#logo-container{
    display: flex;
    color: white;
    text-decoration: none;
    position: relative; 
    margin-left: 20px;
}

/*Footer Style*/

footer {
    display: flex;
    margin: 40px;
}

#footer_div{
    margin-right: 0%;
}

#nasa_logo{
    margin-left: 60%;
}

/*Planets*/
.planets{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    margin-left: 300px 300px;
}

h2{
    margin-left: auto;
    margin-right: auto;
}

.interact-container {
    display: flex;
}



#learn-space-container {
    display: grid;
    grid-template-columns: auto auto ;
    margin-left: auto;
    margin-right: auto;
}

#sun {
    margin-left: 00px;
    margin-right: 000px;
}

#sun_im {
    margin-left: 100px;
    padding: 20px;
}

#mercury {
    margin-left: 0px;
    margin-right: 000px;
}

#mercury_im {
    margin-left: 200px;
    padding: 20px;
}

#venus_im {
    margin-left: 100px;
    padding: 20px;
}

#earth_im {
    margin-left: 350px;
    padding: 20px;
}

#mars_im {
    margin-left: 150px;
    padding: 20px;
}

#jupiter_im {
    margin-left: 100px;
    padding: 20px;
}

#saturn_im {
    margin-left: 100px;
    padding: 20px;
}

#uranus_im {
    margin-left: 350px;
    padding: 20px;
}

#neptune_im {
    margin-left: 100px;
    padding: 20px;
}

#pluto_im {
    margin-left: 300px;
    padding: 20px;
}

/*astroid*/
#ceres_im {
    margin-left: 550px;
}